.gradle
.idea
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
build/
*.swp
bin
gen
local.properties
secure.properties
*.iml
*.ipr
*.iws
*.swp
.rvmrc
.idea
*.DS_Store
gradle.properties
